imports:
    - vendor/sylius/sylius/src/Sylius/Behat/Resources/config/suites.yml
    - tests/Behat/Resources/suites.yaml

default:
    extensions:
        Robertfausk\Behat\PantherExtension: ~

        FriendsOfBehat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true

        Behat\MinkExtension:
            files_path: "%paths.base%/vendor/sylius/sylius/src/Sylius/Behat/Resources/fixtures/"
            base_url: "https://127.0.0.1:8080/"
            default_session: symfony
            javascript_session: panther
            sessions:
                symfony:
                    symfony: ~
                panther:
                    panther:
                        options:
                            browser: "chrome"
                            webServerDir: "%paths.base%/public"
                            external_base_uri: "https://127.0.0.1:8080/"
                        kernel_options:
                            APP_ENV: test_cached
                            APP_DEBUG: false
                        manager_options:
                            connection_timeout_in_ms: 5000
                            request_timeout_in_ms: 120000
                            capabilities:
                                browserName: chrome
                                browser: chrome
                                extra_capabilities:
                                    chromeOptions:
                                        args:
                                            - "--window-size=2880,1800"
                                            - "--headless"
                                            - "start-fullscreen"
                                            - "start-maximized"
                                            - "no-sandbox"
                                acceptSslCerts: true
                                acceptInsecureCerts: true
                                unexpectedAlertBehaviour: accept
            show_auto: false

        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/Application/config/bootstrap.php
            kernel:
                class: Tests\FluxSE\SyliusHCaptchaPlugin\Application\Kernel

        FriendsOfBehat\VariadicExtension: ~
